<div
  id="kt_toolbar_container"
  [ngClass]="toolbarContainerCssClasses"
  class="d-flex flex-stack"
>
  <app-page-title
    #ktPageTitle
    class="page-title d-flex"
    [ngClass]="pageTitleCssClasses"
  ></app-page-title>

  <!-- <div class="row page-title">
    <div class="col-min-5 align-self-center">
      <h3 class="text-themecolor">Blank Page</h3>
    </div>
    <div class="col-mid-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item">pages</li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
    </div>
  </div> -->
</div>
