<div class="card-body p-0">
  <!-- begin::Header -->
  <div class="px-9 pt-7 card-rounded h-275px w-100" [ngClass]="'bg-' + (model.managementStatus.color)">
    <!-- begin::Heading -->
    <div class="d-flex flex-stack">
      <h3 class="m-0 text-white fw-bolder fs-5">{{model.establishmentName}}</h3>

      <div class="ms-1">
        <!-- begin::Menu -->
        <button (click)="showAction($event, isOpen)" type="button"
          class="btn btn-sm btn-icon btn-color-white btn-active-white border-0 me-n3"
          [ngClass]="'btn-active-color-' + (model.managementStatus.color)" data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
        </button>

        <div data-kt-menu="true"
          class="wo-card-action fw-bold menu menu-column menu-gray-600 menu-rounded menu-state-bg-light-primary menu-sub menu-sub-dropdown w-150px "
          data-popper-placement="bottom-end"
          style="z-index: 105; position: fixed; inset: 0px 0px auto auto; margin: 0px; transform: translate(-60px, 284px);"
          [ngStyle]="rightPanelStyle">
          <div class="menu-item px-3">
            <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">
              Acciones
            </div>
          </div>

          <div class="separator mb-3 opacity-75"></div>

          <div class="menu-item px-3">
            <a (click)="editManager(model.id)" routerLinkActive="router-link-active"
              class="menu-link px-3 cursor-pointer"> Editar</a>
          </div>
          <div class="menu-item px-3">
            <a (click)="viewSetting(model.id)" routerLinkActive="router-link-active"
              class="menu-link px-3 cursor-pointer"> Settings</a>
          </div>
          <div class="menu-item px-3">
            <a class="menu-link px-3 cursor-pointer"> Activar</a>
          </div>
          <div class="menu-item px-3">
            <a class="menu-link px-3 cursor-pointer"> Automatico </a>
          </div>
          <div class="menu-item px-3">
            <a class="menu-link px-3 cursor-pointer"> Refrescar </a>
          </div>

          <div class="separator mt-3 opacity-75"></div>
        </div>

      </div>
      <!-- end::Menu -->
    </div>
    <!-- end::Heading -->
    <div class="card-rounded card-p pt-5 bg-body flex-grow-1">
      <div class="row g-0">
        <!-- begin::Col -->
        <div class="col-7 mr-8">
          <!-- begin::Label -->
          <div class="fs-8 text-muted fw-bold">Tiempo</div>
          <!-- end::Label -->
          <!-- begin::Stat -->
          <div class="d-flex align-items-center">
            <div class="fs-5 fw-bolder">{{model.estimatedTime}}</div>
            <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr066.svg'"
              class="svg-icon svg-icon-5 svg-icon-success ms-1"></span>
          </div>
          <!-- end::Stat -->
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-5">
          <!-- begin::Label -->
          <div class="text-center fs-8 text-muted fw-bold">C / D</div>
          <!-- end::Label -->
          <!-- begin::Stat -->
          <div class="text-center fs-5 fw-bolder">{{model.capacity}} / {{model.driver}}</div>
          <!-- end::Stat -->
        </div>
        <!-- end::Col -->
      </div>

    </div>

  </div>
  <!-- end::Header -->
  <!-- begin::Items -->
  <div class="shadow-xs card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1 bg-body"
    [style.margin-top]="'-100px'">
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-6">
      <!-- begin::Symbol -->
      <div class="symbol symbol-45px w-40px me-5">
        <span class="symbol-label bg-lighten">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'" class="svg-icon svg-icon-1"></span>
        </span>
      </div>
      <!-- end::Symbol -->
      <!-- begin::Description -->
      <div class="d-flex align-items-center flex-wrap w-100">
        <!-- begin::Title -->
        <div class="mb-1 pe-3 flex-grow-1">
          <a href="#" class="fs-7 text-gray-800 text-hover-primary fw-bolder">
            APP
          </a>
          <!-- <div class="text-gray-400 fw-bold fs-7">100 Regions</div> -->
        </div>
        <!-- end::Title -->
        <!-- begin::Label -->
        <div class="d-flex align-items-center">
          <div class="fw-bolder fs-5 text-gray-800 pe-1">{{model.appOrders}}</div>
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr066.svg'"
            class="svg-icon svg-icon-5 svg-icon-success ms-1"></span>
        </div>
        <!-- end::Label -->
      </div>
      <!-- end::Description -->
    </div>
    <!-- end::Item -->
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-6">
      <!-- begin::Symbol -->
      <div class="symbol symbol-45px w-40px me-5">
        <span class="symbol-label bg-lighten">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-1"></span>
        </span>
      </div>
      <!-- end::Symbol -->
      <!-- begin::Description -->
      <div class="d-flex align-items-center flex-wrap w-100">
        <!-- begin::Title -->
        <div class="mb-1 pe-3 flex-grow-1">
          <a href="#" class="fs-7 text-gray-800 text-hover-primary fw-bolder">
            WEB
          </a>
          <!-- <div class="text-gray-400 fw-bold fs-7">Quarter 2/3</div> -->
        </div>
        <!-- end::Title -->
        <!-- begin::Label -->
        <div class="d-flex align-items-center">
          <div class="fw-bolder fs-5 text-gray-800 pe-1">{{model.webOrders}}</div>
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
            class="svg-icon svg-icon-5 svg-icon-danger ms-1"></span>
        </div>
        <!-- end::Label -->
      </div>
      <!-- end::Description -->
    </div>
    <!-- end::Item -->
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-6">
      <!-- begin::Symbol -->
      <div class="symbol symbol-45px w-40px me-5">
        <span class="symbol-label bg-lighten">
          <span [inlineSVG]="'./assets/media/icons/duotune/electronics/elc005.svg'" class="svg-icon svg-icon-1"></span>
        </span>
      </div>
      <!-- end::Symbol -->
      <!-- begin::Description -->
      <div class="d-flex align-items-center flex-wrap w-100">
        <!-- begin::Title -->
        <div class="mb-1 pe-3 flex-grow-1">
          <a href="#" class="fs-7 text-gray-800 text-hover-primary fw-bolder">
            CFI
          </a>
          <!-- <div class="text-gray-400 fw-bold fs-7">80% Rate</div> -->
        </div>
        <!-- end::Title -->
        <!-- begin::Label -->
        <div class="d-flex align-items-center">
          <div class="fw-bolder fs-5 text-gray-800 pe-1">{{model.cfiOrders}}</div>
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr066.svg'"
            class="svg-icon svg-icon-5 svg-icon-success ms-1"></span>
        </div>
        <!-- end::Label -->
      </div>
      <!-- end::Description -->
    </div>
    <!-- end::Item -->
    <!-- begin::Item -->
    <div class="d-flex align-items-center">
      <!-- begin::Symbol -->
      <div class="symbol symbol-45px w-40px me-5">
        <span class="symbol-label bg-lighten">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'" class="svg-icon svg-icon-1"></span>
        </span>
      </div>
      <!-- end::Symbol -->
      <!-- begin::Description -->
      <div class="d-flex align-items-center flex-wrap w-100">
        <!-- begin::Title -->
        <div class="mb-1 pe-3 flex-grow-1">
          <a href="#" class="fs-7 text-gray-800 text-hover-primary fw-bolder">
            Ordenes
          </a>
          <!-- <div class="text-gray-400 fw-bold fs-7">3090 Refunds</div> -->
        </div>
        <!-- end::Title -->
        <!-- begin::Label -->
        <div class="d-flex align-items-center">
          <div class="fw-bolder fs-5 text-gray-800 pe-1">{{model.totalOrders}}</div>
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
            class="svg-icon svg-icon-5 svg-icon-danger ms-1"></span>
        </div>
        <!-- end::Label -->
      </div>
      <!-- end::Description -->
    </div>
    <!-- end::Item -->
  </div>
  <!-- end::Items -->
</div>