<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Lista de Zonas</span>
  </h3>
  <div
    class="card-toolbar"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-trigger="hover"
  >
    <button type="button" routerLink="/delivery/zone/create" routerLinkActive="router-link-active"  title="Anadir nueva zona" 
        class="btn btn-sm btn-light-primary">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"
      ></span>
      Nueva Zona
    </button>
  </div>
  
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3 " *ngIf="zones.length > 0">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    {{zones | json}}
    <table class="table align-middle gs-0 gy-5">
      <!-- begin::Table head -->
      <thead>
        <tr>
          
          <th class="p-0 min-w-200px"></th>  <!-- 50px + -->
          <th class="p-0 min-w-100px"></th>
          
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let item of zones">
          
          <td >
            <span class=" d-block fs-7">
              {{item.name}} {{item.id}}
            </span>
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              
              <a (click)="editZone(item.id)" title="editar"
                class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1
                "
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                href="#" title="borrar"
                class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1
                "
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              
              <a
                href="#" title="Ir a"
                class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                "
              >
                <span
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
            </div>
          </td>
          
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
