<p>capacity works!</p>

<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5 ">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Capacidad</span>
    </h3>
    
    <!-- <div class="input-group ">
      <input type="text" class="form-control form-control-solid" name="" />
      <div class=""
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Guardar"
      >
        <button href="" class="btn btn-sm btn-light-primary">
          <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Guardar
        </button>
      </div>
    </div> -->
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <div class="row">
      <div class="col-9">
        
      </div>
      <div class="col-3">
        <div class="input-group mb-3">
          <input type="number" [min]="0" [max]="1.9" [step]="0.1" class="form-control" placeholder="Ingrese factor (0.1)" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-light-primary" type="button" id="button-addon2">Guardar</button>
        </div>
      </div>
    </div>
    <!-- begin::Table container -->
    
    <div class="table-responsive mt-3">
      <!-- begin::Table -->
      <table
        class="table table-row-dashed table-bordered table-row-gray-300 align-middle gs-0 gy-4"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="min-w-70px text-center">Horario</th>
            <th class="min-w-80px text-center">Lunes</th>
            <th class="min-w-80px text-center">Martes</th>
            <th class="min-w-80px text-center">Miercoles</th>
            <th class="min-w-80px text-center">Jueves</th>
            <th class="min-w-80px text-center">Viernes</th>
            <th class="min-w-80px text-center">Sabado</th>
            <th class="min-w-80px text-center">Domingo</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class=" me-2 fs-7 fw-bold">01:00</span>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
