<div class="card  px-7 py-5 mb-xl">
  <div class="d-flex flex-wrap flex-stack mb-2">
    <a
    class="
      d-flex
      align-items-center
      text-gray-400
      me-5
      mb-2
    ">
    <span
      [inlineSVG]="
        './assets/media/icons/duotune/communication/com006.svg'
      "
      class="svg-icon svg-icon-2 me-1"
    ></span>
    <h3 class="fw-bolder my-2">DASHBOARD</h3>
    </a>

    <div class="d-flex my-2">
      <div class="d-flex align-items-center position-relative me-4">
        <input
          readonly
          type="datetime"
          id="kt_filter_search"
          class="form-control text-center form-control-white form-control-sm w-150px ps-9"
          [value]="'04-01-2023'"/>
      </div>
        <input
        disabled
        type="datetime"
        id="kt_filter_search"
        class="form-control text-center form-control-white form-control-sm w-150px ps-9"
        [value]="'13:46:15'"/>
    </div>
  </div>

  <form [formGroup]="newForm" (ngSubmit)="saveSettings()" novalidate="" class="form">
    <div class="d-flex my-2 mb-5">
      <app-dropdown-establishment [form]="newForm" (selectionChange)="onSelectEstablishment($event)">
        
      </app-dropdown-establishment>
  
      <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isLoading"
      (click)="saveSettings()"
    >
      <ng-container *ngIf="!isLoading">Refrescar</ng-container>
      <ng-container *ngIf="isLoading">
        <span clas="indicator-progress" [style.display]="'block'">
          {{ " " }}
          <span
            class="spinner-border spinner-border-md align-middle ms-2"
          ></span>
        </span>
      </ng-container>
      </button>

    </div>
  </form>

</div>

<div class="card-body pt-9 pb-0">
  <!-- 1 -->
  <div class="row g-6 g-xl-4">
    <div class="col-xl-6">
      <app-card-total 
        svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card  "
        title="ACTUAL"
        title2="Tiempo desactivado"
        color="success">
      </app-card-total>
    </div>
    <div class="col-xl-6">
      <app-card-total
        svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
        class="card mb-5 "
        title="ACUMULADO"
        title2="Tiempo desactivado"
        color="primary">
      </app-card-total>
    </div>
  </div>
  <!-- 2 -->
  <div class="row g-6 g-xl-4">
    <div class="col-md-3 col-xl-3">
      <app-card-indicator
        icon="./assets/media/icons/duotune/arrows/arr044.svg"
        badgeColor="info"
        status="Pending"
        statusColor="info"
        title="60 %"
        title2="DISPONIBILIDAD"
        description="CRM App application to HR efficiency"
        [progress]="30"
      ></app-card-indicator>
    </div>
    <div class="col-md-3 col-xl-3">
      <app-card-indicator
        icon="./assets/media/icons/duotune/arrows/arr065.svg"
        badgeColor="info"
        status="Pending"
        statusColor="info"
        title="60 min"
        title2="TIEMPO REFERENCIAL"
        description="CRM App application to HR efficiency"
        date="May 10, 2021"
        budget="$36,400.00"
        [progress]="50"
      ></app-card-indicator>
    </div>
    <div class="col-md-3 col-xl-3">
      <app-card-indicator
        icon="./assets/media/icons/duotune/arrows/arr065.svg"
        badgeColor="info"
        status="Pending"
        statusColor="info"
        title="0.02"
        title2="FACTOR REAPERTURA"
        description="CRM App application to HR efficiency"
        date="May 10, 2021"
        budget="$36,400.00"
        [progress]="40"
      ></app-card-indicator>
    </div>
    <div class="col-md-3 col-xl-3">
      <app-card-indicator
        icon="./assets/media/icons/duotune/arrows/arr068.svg"
        badgeColor="success"
        status="Completed"
        statusColor="success"
        title="Abierto"
        title2="ESTADO"
        description="CRM App application to HR efficiency"
        date="Mar 14, 2021"
        budget="$605,100.00"
        [progress]="100"
      ></app-card-indicator>
    </div>
    <!-- 3 -->
    <div class="col-xl-3">
      <app-card-order
        svgIcon="./assets/media/icons/duotune/general/gen028.svg"
        class="card "
        color="warning"
        change="3"
        description="ORDEN APP"
      ></app-card-order>
    </div>
    <div class="col-xl-3">
      <app-card-order
        svgIcon="./assets/media/icons/duotune/general/gen028.svg"
        class="card "
        color="primary"
        change="1"
        description="ORDEN WEB"
      ></app-card-order>
    </div>
    <div class="col-xl-3">
      <app-card-order
        svgIcon="./assets/media/icons/duotune/general/gen024.svg"
        class="card "
        color="danger"
        change="2"
        description="ORDEN CFI"
      ></app-card-order>
    </div>
    <div class="col-xl-3">
      <app-card-order
        svgIcon="./assets/media/icons/duotune/general/gen019.svg"
        class="card "
        color="success"
        change="6"
        description="TOTAL ORDENES"
      ></app-card-order>
    </div>
    <!-- 4 -->
    <div class="col-sm-3 col-xl-3">
      <app-card-capacity
        svgIcon="./assets/media/icons/duotune/art/art007.svg"
        title="3"
        description="CAPACIDAD BASE"
        status="down"
        [statusValue]="40.5"
        statusDesc="more impressions"
        [progress]="0.5"
        progressType="MRR"
      ></app-card-capacity>
    </div>
    <div class="col-sm-3 col-xl-3">
      <app-card-capacity
        svgIcon="./assets/media/icons/duotune/art/art008.svg"
        title="8"
        description="CAPACIDAD ACTUAL"
        status="down"
        [statusValue]="40.5"
        statusDesc="more impressions"
        [progress]="0.5"
        progressType="MRR"
      ></app-card-capacity>
    </div>
    <div class="col-sm-3 col-xl-3">
      <app-card-capacity
        svgIcon="./assets/media/icons/duotune/files/fil012.svg"
        title="15"
        description="CAPACIDAD TOTAL"
        color="success"
        status="down"
        [statusValue]="40.5"
        statusDesc="more impressions"
        [progress]="0.5"
        progressType="MRR"
      ></app-card-capacity>
    </div>
    <div class="col-sm-3 col-xl-3">
      <app-card-capacity
        svgIcon="./assets/media/icons/duotune/files/fil012.svg"
        title="2%"
        description="REAPERTURA"
        color="success"
        status="down"
        [statusValue]="40.5"
        statusDesc="more impressions"
        [progress]="0.5"
        progressType="MRR"
      ></app-card-capacity>
    </div>
  </div>
</div>

<!-- begin::Header -->
<div class="card mb-2 mt-5 px-7 py-5 mb-xl">
  <div class="d-flex flex-wrap flex-stack">
    <h3 class="fw-bolder my-2">HISTORIAL</h3>

    <div class="d-flex my-2">
      <div class="d-flex align-items-center position-relative me-4"></div>
    </div>
  </div>
</div>

<div class="card card-body pb-0">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table table-hover align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead style="background-color: #181c32; color: aliceblue;">
        <tr class="fw-bolder">
          <th *ngFor="let menu of menuThead" class="ps-4 min-w-125px text-center">{{menu}}</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let item of data">
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <span class="fw-bold d-block fs-7">{{item.date}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <span class="fw-bold d-block fs-7">{{item.time}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <span class="fw-bold d-block fs-7">{{item.status}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <span class="fw-bold d-block fs-7">{{item.type}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <span class="fw-bold d-block fs-7"
                  >{{item.user}}</span
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
