<div class="card  px-7 py-5 mb-xl">
  <form [formGroup]="form" novalidate="" class="form">
    <div class="d-flex my-2 mb-2">

      <div class="input-group">
        <app-dropdown-management [form]="form" (selectionChange)="onSelectManagement($event)">
        </app-dropdown-management>
        <button type="submit" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <i *ngIf="!isLoading" class="bi bi-arrow-clockwise text-light-primary fs-4"></i>
          <ng-container *ngIf="!isLoading">Refrescar</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              {{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>

      </div>
    </div>
  </form>
</div>

<div class="card-body pt-9 pb-0">
  <!-- 1 -->
  <div class="row g-6 g-xl-4">
    <div class="col-xl-3 col-md-6">
      <div class="card {{managementQuery.managementStatus.name == 'Activo' ? 'bg-light-success' : 'bg-light-danger'}}">
        <div class=" card-body my-3 ">
          <div
            class="card-title fw-bolder fs-5 mb-3 d-block {{ managementQuery.managementStatus.name == 'Activo' ? 'text-success' : 'text-danger'}}">
            GDD
          </div>
          <div class="py-1">
            <span
              class="fs-1 fw-bolder me-2 {{ managementQuery.managementStatus.name == 'Activo' ? 'text-success' : 'text-danger'}}">{{managementQuery.managementStatus.name}}</span>
            <span
              class="fw-bold {{ managementQuery.managementStatus.name == 'Activo' ? 'text-success' : 'text-danger'}} fs-7"></span>
          </div>
          <div
            class="`progress h-7px bg-opacity-50 mt-7 {{ managementQuery.managementStatus.name == 'Activo' ? 'bg-success' : 'bg-danger'}}">
            <div
              class="progress-bar {{ managementQuery.managementStatus.name == 'Activo' ? 'bg-success' : 'bg-danger'}}"
              [style.width]="'50%'" role="progressbar">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card {{managementQuery.itsOpen ? 'bg-light-success' : 'bg-light-danger'}}">
        <div class="card-body my-3">
          <div
            class="card-title fw-bolder fs-5 mb-3 d-block {{managementQuery.itsOpen ? 'text-success' : 'text-danger'}} ">
            Delivery
          </div>
          <div class="py-1">
            <span
              class="fs-1 fw-bolder me-2 {{managementQuery.itsOpen ? 'text-success' : 'text-danger'}} ">{{managementQuery.itsOpen
              ? 'Abierto' : 'Cerrado'}}</span>
            <span class="fw-bold {{managementQuery.itsOpen ? 'text-success' : 'text-danger'}} fs-7 "></span>
          </div>
          <div class="`progress h-7px bg-opacity-50 mt-7 {{managementQuery.itsOpen ? 'bg-success' : 'bg-danger'}}">
            <div class="progress-bar {{managementQuery.itsOpen ? 'bg-success' : 'bg-danger'}}" [style.width]="'50%'"
              role="progressbar">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body my-3">
          <div class="card-title fw-bolder text-warning fs-5 mb-3 d-block">Tiempo Delivery</div>
          <div class="separator"></div>
          <div class="py-1 mt-3">
            <span class="text-dark fs-1 fw-bolder me-2">
              <i class="bi bi-hourglass-top text-warning fs-2"></i>
              {{managementQuery.estimatedTime}} min.</span>
            <span class="fw-bold text-muted fs-7">Base</span>
          </div>
          <div class="` h-7px  mt-4">
            <div class="fw-bold">
              Rango de {{managementQuery.estimatedTime - managementQuery.minimumEstimatedTime }} a
              {{managementQuery.estimatedTime + managementQuery.maximumEstimatedTime}} min.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body my-3">
          <div class="card-title fw-bolder text-primary fs-5 mb-3 d-block">
            Indicador
          </div>
          <div class="separator"></div>
          <div class="py-1 mt-3">
            <span class="text-dark fs-1 fw-bolder me-2">
              <i class="bi bi-app-indicator text-primary fs-2"></i>
              {{managementQuery.factor}}</span>
            <span class="fw-bold text-muted fs-7">Factor</span>
          </div>
          <div class="` h-7px mt-4">
            <div class="fw-bold">
              Driver {{managementQuery.driver}} / Capacidad {{managementQuery.capacity}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body p-0">
          <div class="d-flex flex-stack card-p flex-grow-1">
            <span class="symbol symbol-50px symbol-light-warning me-2">
              <span class="symbol-label">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen028.svg'"
                  class="svg-icon svg-icon-4x svg-icon-warning"></span>
              </span>
            </span>

            <div class="d-flex flex-column text-end">
              <span class="text-dark fw-bolder fs-2">{{managementQuery.appOrders}}</span>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                <span class="text-dark fw-bold
                text-gray-600 m-0 mt-1">
                  ORDEN APP
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body p-0">
          <div class="d-flex flex-stack card-p flex-grow-1">
            <span class="symbol symbol-50px symbol-light-primary me-2">
              <span class="symbol-label">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen028.svg'"
                  class="svg-icon svg-icon-4x svg-icon-primary"></span>
              </span>
            </span>

            <div class="d-flex flex-column text-end">
              <span class="text-dark fw-bolder fs-2">{{managementQuery.webOrders}}</span>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                <span class="text-dark fw-bold
                text-gray-600 m-0 mt-1">
                  ORDEN WEB
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body p-0">
          <div class="d-flex flex-stack card-p flex-grow-1">
            <span class="symbol symbol-50px symbol-light-secunday me-2">
              <span class="symbol-label">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen028.svg'"
                  class="svg-icon svg-icon-4x svg-icon-secunday"></span>
              </span>
            </span>
            <div class="d-flex flex-column text-end">
              <span class="text-dark fw-bolder fs-2">{{managementQuery.cfiOrders}}</span>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                <span class="text-dark fw-bold 
                text-gray-600 m-0 mt-1">
                  ORDEN CFI
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body p-0">
          <div class="d-flex flex-stack card-p flex-grow-1">
            <span class="symbol symbol-50px symbol-light-success me-2">
              <span class="symbol-label">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
                  class="svg-icon svg-icon-4x svg-icon-success"></span>
              </span>
            </span>
            <div class="d-flex flex-column text-end">
              <span class="text-dark fw-bolder fs-2">{{managementQuery.totalOrders}}</span>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                <span class="text-dark fw-bold
                text-gray-600 m-0 mt-1">
                  TOTAL ORDENES
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="card mb-5 mb-xl-8 mt-5">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Semáforo de capacidad</span>
      <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 new members</span> -->
    </h3>
    <div class="card-toolbar">
      <!-- begin::Menu -->
      <div class="d-flex justify-content-center">
        <div class=" me-18">
          <i class="bi bi-circle-fill text-success fs-4 pb-2">
            <span class="text-dark fw-bolder fs-6"
              style="position: absolute; margin: 2px 0 0 4px;">{{orderIndicatorTotal.success}}</span>
          </i>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class=" me-18">
          <i class="bi bi-circle-fill text-warning fs-4 pb-2">
            <span class="text-dark fw-bolder fs-6"
              style="position: absolute; margin: 2px 0 0 4px;">{{orderIndicatorTotal.warning}}</span>
          </i>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class=" me-6">
          <i class="bi bi-circle-fill text-danger fs-4 pb-2">
            <span class="text-dark fw-bolder fs-6"
              style="position: absolute; margin: 2px 0 0 4px;">{{orderIndicatorTotal.danger}}</span>
          </i>
        </div>
      </div>
      <!-- end::Menu -->

    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light text-center">
            <!-- <th class="ps-4 min-w-40px rounded-start">&nbsp;</th> -->
            <th class="ps-4 min-w-125px rounded-start">Numero pedido</th>
            <th class="min-w-150px">Hora Pedido / Hora Entrega</th>
            <th class="min-w-150px">Tiempo Ofrecido / Transcurrido</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let orderIndicator of orderIndicators" class="text-center">
            <td>
              <div class="d-flex justify-content-center">
                <div class=" me-2">
                  <span>
                    <i class="bi bi-circle-fill text-success fs-4"></i>
                  </span>
                </div>
                <div class="d-flex justify-content-center flex-column">
                  <p class="text-dark fw-bolder mb-1 fs-6">
                    {{orderIndicator.orderNumber}}
                  </p>
                </div>
              </div>
            </td>
            <td>
              <p class="text-dark fw-bolder d-block mb-1 fs-6">
                {{orderIndicator.orderTime}} &nbsp;<i class="bi bi-arrow-left-right"></i>&nbsp;
                {{orderIndicator.deliveryTime}}
              </p>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span> -->
            </td>
            <td>
              <p class="text-dark fw-bolder d-block mb-1 fs-6">
                {{orderIndicator.minOffered}} min. &nbsp;<i class="bi bi-arrow-left-right"></i>&nbsp;
                {{orderIndicator.minElapsed}} min.
              </p>
            </td>
          </tr>

        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->

</div>