<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Drivers</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Click to add a user"
    >
      <a (click)="saveButton()" class="btn btn-sm btn-primary">
        <i class="bi bi-save text-light-primary fs-6"></i>
        <!-- <span
          [inlineSVG]="'./assets/media/icons/duotune/finance/fin001.svg'"
          class="svg-icon svg-icon-3"
        ></span> -->
        Guardar
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->

      <!-- <pre>{{filter}}</pre> -->

      <table
        class="table table-row-dashed table-bordered  align-middle gs-0 gy-4"
      >
        <!--bg-dark text-white  begin::Table head  #181c32-->
        <thead style="background-color: #181c32; color: aliceblue;">
          <tr  class="fw-bolder">
            <th class="min-w-80px text-center">Hora</th>
            <th *ngFor="let day of days" class="min-w-80px text-center">{{day}}</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let item of data">
            <td >
              <div class="d-flex justify-content-center align-items-center">
                <div class=" flex-column">
                  <span class="pe-4 identifier-driver-time">{{item.time}}</span>
                </div>
              </div>
            </td>
            <td *ngFor="let day of item.days">
              <div class="d-flex justify-content-center align-items-center">
                <div class="flex-column text-center">
                  <input
                    type="text"
                    style="width: 90px;"
                    class="form-control text-center form-control-lg form-control-solid identifier-driver-day"
                    attr.data-time="{{item.time}}"
                    attr.data-day="{{day.day}}"
                    [style]="day.style"
                    value="{{day.value}}"
                    (keyup)="keyUpEvent($event, item.time, day.day)"
                    
                  />
                  <span class="error-quantity-driver" 
                    attr.data-time="{{item.time}}"
                    attr.data-day="{{day.day}}">
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body  (keydown)="keyDownEvent($event, item.time, day.day)"-->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<i class="bi bi-save text-info fs-2"></i>

<i class="fonticon-view text-success"></i>

<i class="fas fa-envelope-open-tex text-info fs-2"></i>

<i class="las la-comments text-info fs-2"></i>

<i class="bi bi-app text-success fs-2"></i>


