<div class="card card-xxl-stretch mb-xl-4">
  <div class="card-header border-0 ">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Listado de Gestor</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Click to add a user"
    >
      <a
        routerLink="/delivery/manager/create"
        routerLinkActive="router-link-active"
        class="btn btn-sm btn-primary"
        title="Anadir nueva zona"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
          class="svg-icon svg-icon-3"
        ></span>
        Crear Gestor
      </a>
    </div>
  </div>
</div>

<div class="mb-5 mb-xl-10">
  <div class="row g-5 g-xl-8">
    
    <div class="col-xl-3" *ngFor="let manager of managers">
      <app-card-manager
        class="card card-xl-stretch mb-xl-8"
        [model]="manager"
      ></app-card-manager>
    </div>

  </div>
</div>
