<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    
    <div class="d-flex overflow-auto h-55px">
      <ul
        class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        "
      >
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/crafted/pages/profile/overview"
            routerLinkActive="active"
          >
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/crafted/pages/profile/projects"
            routerLinkActive="active"
          >
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/crafted/pages/profile/campaigns"
            routerLinkActive="active"
          >
            Campaigns
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/crafted/pages/profile/documents"
            routerLinkActive="active"
          >
            Documents
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/crafted/pages/profile/connections"
            routerLinkActive="active"
          >
            Connections
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
