<div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">

  <!-- Dashboard -->
  <div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
    ><span class="menu-title" translate="MENU.DASHBOARD"></span
    ></a>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="bottom-start"
  >
  <span class="menu-link py-3" routerLink="/delivery/manager"
  [ngClass]="calculateMenuItemCssClass('/delivery')"
    >
    <span class="menu-title">Delivery</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
    
      <!-- [ngClass]="calculateMenuItemCssClass('/delivery')"-->
  </div>


</div>
