<!--begin::Form-->
<form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">
  <!--begin::Heading mb-10-->
  <br>
  <div class="text-center ">
    <div class="symbol symbol-120px me-2 ">
      <span class="symbol-label">
        <img src="./assets/media/svg/illustrations/easy/6.svg" class="h-90 align-self-center" alt="" />
      </span>
    </div>
    <!-- <h1 class="text-dark mb-3">Login</h1> -->
  </div>
  <!--end::Heading-->

  <!-- begin::Alert info-->
  <ng-container *ngIf="!hasError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info ">
        Para acceder al nuevo sistema de <strong> Intranet</strong> ingrese su
        <strong> email</strong> y <strong> contraseña</strong> asignada.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert info-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Las <strong>credenciales</strong> ingresadas para su inicio de sesión son <strong>incorrectos</strong>. Por
        favor verifique e
        intente nuevamente.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fs-6 fw-bolder text-dark">Email</label>
    <input class="form-control form-control-lg form-control-solid" type="email" name="email" formControlName="email"
      autocomplete="off" placeholder="Ingrese Email" />

    <span style="color:red" *ngIf="loginForm.controls?.['email']?.invalid &&
                  loginForm.controls?.['email']?.dirty"><sup>*</sup>Ingrese email valido
    </span>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="d-flex justify-content-between mt-n5">
      <div class="d-flex flex-stack mb-2">
        <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
      </div>
    </div>

    <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off"
      formControlName="password" placeholder="Ingrese Password" />

    <span style="color:red" *ngIf="loginForm.controls?.['password']?.invalid &&
                  loginForm.controls?.['password']?.dirty"><sup>*</sup>Ingrese password valido
    </span>
  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="text-center">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5"
      [disabled]="loginForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continue</span>
      </ng-container>
    </button>

  </div>
  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>