<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Log</span>
    </h3>
    <div class="card-toolbar"></div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!--end::Icon-->
    <!--end::Input-->
    <div id="kt_account_profile_details" class="collapse show">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        novalidate=""
        class="form"
      >
        <div class="d-flex justify-content-center row g-5 g-xl-8 mb-4">
          <div class="col-xl-5">
            <div class="card-xl-stretch mb-xl-8 mb-4">
              <label class="form-label fw-bold">Establecimientos</label>
              <div>
                <select
                  (change)="changeEstablishment($event)"
                  formControlName="establishmentName"
                  name="establishmentName"
                  class="form-select form-select-solid"
                  data-kt-select2="true"
                  data-placeholder="Select option"
                  data-allow-clear="true"
                >
                  <option value="">Select a Establishment...</option>
                  <option
                    *ngFor="let est of establishments"
                    [value]="est.uuid"
                    [ngValue]="est"
                  >
                    {{ est.name }}
                  </option>
                </select>

                <!-- error block -->
                <div
                  class="invalid-feedback"
                  [ngClass]="[
                    isSubmitted && establishmentName?.invalid
                      ? 'd-block'
                      : 'd-none'
                  ]"
                >
                  <sup>*</sup>Seleccione un establecimiento
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2">
            <div class="card-xl-stretch mb-xl-8 mb-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Fecha inicial</label
              >
              <input
                type="date"
                class="form-control"
                name="startDate"
                id="exampleFormControlInput1"
                placeholder="AAAA-MM-DD"
                formControlName="selectedStartDate"
              />
            </div>
          </div>
          <div class="col-xl-2">
            <div class="card-xl-stretch mb-xl-8 mb-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Fecha final</label
              >
              <input
                type="date"
                class="form-control"
                name="endDate"
                id="exampleFormControlInput1"
                placeholder="AAAA-MM-DD"
                formControlName="selectedEndDate"
              />
              <!-- error block -->
              <div
                class="invalid-feedback"
                [ngClass]="[form.hasError('notValid') ? 'd-block' : 'd-none']"
              >
                <sup>*</sup>Fecha no valido
              </div>
            </div>
          </div>

          <div class="col-xl-3 align-self-center d-flex justify-content-evenly">
            <button type="submit" class="btn btn-primary">
              <!-- <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
              class="svg-icon ">
            </span> -->
              <i class="bi bi-search text-light-primary fs-6"></i>
              Buscar
            </button>
            <a class="btn btn-primary">
              <!-- <span
              [inlineSVG]="
                './assets/media/icons/duotune/files/fil011.svg'
              "
              class=" svg-icon svg-icon-2">
            </span> -->
              <i class="bi bi-envelope-open text-light-primary fs-6"></i>
              Explorar
            </a>
          </div>
          <!-- <div class="col d-flex align-items-center justify-content-center">
          </div> -->
        </div>
      </form>
    </div>

    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table-row-dashed table-bordered table align-middle gs-0 gy-4"
      >
        <!-- begin::Table head -->
        <thead style="background-color: #181c32; color: aliceblue">
          <tr class="fw-bolder">
            <th
              *ngFor="let menu of menuThead"
              class="ps-4 min-w-125px text-center"
            >
              {{ menu }}
            </th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let item of data">
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ item.date }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ item.time }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ item.status }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ item.type }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ item.user }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{
                    item.modification
                  }}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
