<ngb-accordion [closeOthers]="true" ngClass="card card-xxl-stretch mb-2 mb-xl-2">
  <ngb-panel id="static-1" title="Log">
    <ng-template ngbPanelContent>
      <div id="kt_account_profile_details" class="collapse show">
        <form [formGroup]="logForm" novalidate="" class="form">
          <div class="d-flex align-self-center justify-content-center row g-5 g-xl-8 mb-4">

            <div class="col-xl-4">
              <label class="form-label fw-bold">Establecimientos</label>
              <div>
                <app-dropdown-management [form]="logForm" [isVisibleAll]="true"
                  (selectionChange)="onSelectManagement($event)">
                </app-dropdown-management>
              </div>
            </div>

            <div class="col-xl-2">
              <label for="exampleFormControlInput1" class="form-label fw-bold">Fecha inicial</label>
              <input type="date" name="startDate" class="form-control" id="exampleFormControlInput1"
                formControlName="selectedStartDate" placeholder="AAAA-MM-DD" />

              <div class="invalid-feedback" style="display: block !important;"
                [ngClass]="[logForm.hasError('notValid') ? 'visible' : 'invisible']">
                <sup>*</sup>Fecha no valido
              </div>
            </div>

            <div class="col-xl-2">
              <label for="exampleFormControlInput1" class="form-label fw-bold">Fecha final</label>
              <input type="date" name="endDate" class="form-control" id="exampleFormControlInput1"
                formControlName="selectedEndDate" placeholder="AAAA-MM-DD" />

              <div class="invalid-feedback" style="display: block !important;"
                [ngClass]="[logForm.hasError('notValid') ? 'visible' : 'invisible']">
                <sup>*</sup>Fecha no valido
              </div>
            </div>

            <div class="col-xl-4">
              <div class="d-flex row align-self-center justify-content-center g-5 g-xl-8 mb-4">

                <div class="col-xl-6 d-grid">
                  <button type="submit" class="btn btn-primary btn-md mt-xl-8 mt-sm-0" (click)="searchButton()">
                    <i *ngIf="!isLoadingSearch" class="bi bi-search fs-4"></i>
                    <ng-container *ngIf="!isLoadingSearch">Buscar</ng-container>
                    <ng-container *ngIf="isLoadingSearch">
                      <span clas="indicator-progress" [style.display]="'block'">
                        {{ " " }}
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        &nbsp;
                      </span>
                    </ng-container>
                  </button>
                </div>

                <div class="col-xl-6 d-grid">
                  <button type="submit" class="btn btn-primary btn-md mt-xl-8 mt-sm-0" (click)="exportLogButton()">
                    <i *ngIf="!isLoadingExport" class="bi bi-filetype-exe fs-4"></i>
                    <ng-container *ngIf="!isLoadingExport">Exportar</ng-container>
                    <ng-container *ngIf="isLoadingExport">
                      <span clas="indicator-progress" [style.display]="'block'">
                        {{ " " }}
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        &nbsp;
                      </span>
                    </ng-container>
                  </button>
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <!-- begin::Body -->
  <div class="card-body py-3">

    <!-- begin::Pagination container -->
    <div *ngIf="data.items.length > 0" class="d-flex flex-stack flex-wrap pt-1 mb-5">
      <div class="fs-6 fw-bold text-gray-700">Mostrando {{pageNumber}} de {{pageSize}}. Total: {{data.totalCount}}
        registros</div>
    </div>

    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table *ngIf="!isLoadingData$ && data.items.length > 0"
        class="table-row-dashed table-bordered table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead style="background-color: #181c32; color: aliceblue">
          <tr class="fw-bolder">
            <th class="ps-4 min-w-125px text-center"> Establecimiento</th>
            <th class="ps-4 min-w-125px text-center"> Dia</th>
            <th class="ps-4 min-w-125px text-center"> Tiempo</th>
            <th class="ps-4 min-w-125px text-center"> Valor</th>
            <th class="ps-4 min-w-125px text-center"> Modificado</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let log of data.items">
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ log.establishmentName }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ log.day }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">{{ log.time}}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">
                    {{ log.oldValue }}
                    <i class="bi bi-arrow-right"></i>
                    {{ log.currentValue }}
                    <i [ngClass]="{'bi-arrow-up-short text-success':log.increase,
                     'bi-arrow-down-short text-danger':!log.increase}" class="bi">
                    </i>
                  </span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <span class="fw-bold d-block fs-7">
                    <i class="bi bi-person-workspace"></i>
                    {{ log.createdBy }} &nbsp;
                    <i class="bi bi-calendar2 ml-2"></i>
                    {{ log.createdAt | date:"dd-MM-yyyy"}} &nbsp;
                    <i class="bi bi-clock ml-2"></i>
                    {{ log.createdAt | date:"HH:mm"}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->

      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->

    <div *ngIf="data.items.length > 0" class="d-flex flex-stack flex-wrap pt-3 mb-5">
      <div class="fs-6 fw-bold text-gray-700"></div>

      <ngb-pagination [collectionSize]=data.totalCount #numLogPagesExp [(page)]="pageNumber" [maxSize]="pageSize"
        [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
        (pageChange)="getAllLogsByManagementId(managementIdForm.value,selectedStartDate?.value,selectedEndDate?.value)"></ngb-pagination>

      <pre><span class=" float-md-left">Page: {{ pageNumber }} / {{ numLogPagesExp.pageCount }}</span></pre>

    </div>

    <div *ngIf="isMessageData" class="alert alert-primary text-center mt-3">
      <h4 class="alert-heading">Por favor seleccione los filtros para realizar su busqueda</h4>
      <p class="mt-4">
        <i class="bi bi-box2 text-primary fs-2 "></i>
      </p>
      <p class="mb-0">
        Por favor verifique los filtros seleccionados
      </p>
    </div>

    <div *ngIf="isEmptyData" class="alert alert-warning text-center mt-3">
      <h4 class="alert-heading">Sin registros para la busqueda realizada</h4>
      <p>
        <i class="bi bi-database-exclamation"></i>
      </p>
      <p class="mb-0">
        Por favor verifique los filtros seleccionados
      </p>
    </div>

    <div *ngIf="isLoadingData$" class="alert alert-primary text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mb-0">
        Espere por favor
      </p>
    </div>

  </div>
  <!-- begin::Body -->
</div>