<p>log works!</p>
<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Log</span>
      </h3>
      <div class="card-toolbar"></div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
  
      <!--end::Icon-->
  
      <!--begin::Input-->
      <!--end::Input-->
      <div class=" d-flex align-items-center justify-content-center row mb-4">
          <div class="col-5">
              <div class="mb-4">
                <label class="form-label fw-bold">Establecimientos</label>
                <div>
                  <select
                    class="form-select form-select-solid"
                    data-kt-select2="true"
                    data-placeholder="Select option"
                    data-allow-clear="true"
                  >
                    <option></option>
                    <option selected value="1">Approved</option>
                    <option value="2">Pending</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="col-2">
              <div class="mb-4">
                  <label for="exampleFormControlInput1" class="form-label fw-bold">Fecha inicial</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="AAAA-MM-DD">
                </div>       
          </div>
          <div class="col-2">
              <div class="mb-4">
                  <label for="exampleFormControlInput1" class="form-label fw-bold">Fecha final</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="AAAA-MM-DD">
                </div> 
          </div>
  
          <div class="col-3 mt-4">
              <a href="#" class="btn  btn-light-primary">
                  <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
                  class="svg-icon">
                  </span>
                  Buscar
              </a>
         
              <a href="#" class="btn  btn-light-primary">
                  <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/communication/com010.svg'
                    "class="svg-icon">
                  </span>
                  Explorar
              </a>
  
          </div>
          <!-- <div class="col d-flex align-items-center justify-content-center">
          </div> -->
      </div>
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-4">
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted bg-light">
              <th class="ps-4 min-w-125px rounded-start text-center">Fecha</th>
              <th class="min-w-125px text-center">Dia</th>
              <th class="min-w-125px text-center">Hora</th>
              <th class="min-w-125px text-center">Driver</th>
              <th class="min-w-200px text-center">Usuario</th>
              <th class="min-w-150px text-center">Modificacion</th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="text-center">
                    <span class=" fw-bold  d-block fs-7">
                      HTML, JS, ReactJS
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="text-center">
                    <span class=" fw-bold  d-block fs-7">
                      HTML, JS, ReactJS
                    </span>
                  </div>
                </div>
              </td>
              <td>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <span class=" fw-bold  d-block fs-7">
                        HTML, JS, ReactJS
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <span class="fw-bold d-block fs-7">
                        HTML, JS, ReactJS
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <span class="fw-bold d-block fs-7">
                        HTML, JS, ReactJS
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <span class="fw-bold d-block fs-7">
                        HTML, JS, ReactJS
                      </span>
                    </div>
                  </div>
                </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
  </div>
