<!-- begin::Header" -->
<div class="card-header border-0">
    <h3 class="card-title fw-bolder text-dark">{{model.name}}</h3>
    <div class="card-toolbar">
    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-0">
    <!-- begin::Item -->
    <div *ngFor="let setting of model.settings" class="d-flex align-items-center {{setting.color}} rounded p-5 mb-4">
        <!-- begin::Icon -->
        <span class="svg-icon svg-icon-warning me-5">
            <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs027.svg'" class="svg-icon svg-icon-1"></span>
        </span>
        <!-- end::Icon -->
        <!-- begin::Title -->
        <div class="flex-grow-1 me-2">
            <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6">
                {{setting.label}}
            </a>
            <span class="text-muted fw-bold d-block">{{setting.startingRange}} - {{setting.endingRange}}</span>
        </div>
        <!-- end::Title -->
        <!-- begin::Lable -->
        <span class="fw-bolder text-warning py-1">{{setting.value}}</span>
        <!-- end::Lable -->
    </div>
    <!-- end::Item -->
</div>
<!-- end::Body -->


<!-- begin::Row -->